html, body, main, table {
	width: 100%;
	height: 100%;
	margin: 0;
}

aside {
	position: absolute;
}

ul {
	list-style-type: none;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid #EEE;
	transition: all 0.2s ease-in-out;
}

td.live {
	background-color: #353;
}
